body{
	background-color: #282935;
	margin: 0 auto;
	color: white;
	font-family: 'Muli', sans-serif;
	background: linear-gradient(to bottom right, #e82c64 10%, #9939a0 110%);
	/*background: linear-gradient(to bottom right, #E82C82 17%, #08112B 123%);*/
	/*background: linear-gradient(to top left, #08111A 13%, #2dcad5 82%);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100%;
    background-origin: content-box;

}
*{
	box-sizing: border-box;
}
.header {
	width: 80%;
	margin: 5% auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header h1{
	text-align: center;
}
.header button{
	width:33%;
	padding: 15px 45px;
	margin: 30px auto;
}
.btn{
	border-radius: 300px;
	text-transform: uppercase;
	background-color: transparent;
	color: #fff;
    border: 1px solid;
    border-color: #fff;
	cursor: pointer;
}


.header button:hover{
	background-color: #fff;
	/*border-color: #cc0066;*/
	box-shadow: 0px 0px 3px 1px #fff;
	color: #cc0066;
	font-weight: 400;
	transition: transform .1s ease-in-out, color .1s ease-in-out, background-color .1s ease-in-out, box-shadow .1s ease-in-out;
}
.header button:checked{
	border: none;
}
.container{
	width: 80%;
	margin: 5% auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.container .badge {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	margin: 30px;
	width: 15%;
	cursor: pointer;	
}
.container .badge:hover{
	transform: scale(1.1);
	transition: transform .1s ease-in-out;
	/*border-radius: 100%;*/
	/*box-shadow: 0px 0px 20px .5px #fff ;*/
}

.container .btn {
	padding: 8px 15px;
	margin: 15px auto;
}
.container .far{
	font-size: 3em;
	font-weight: 400;
}




.pickElem{
	background-color: #fff;
	/*border-color: #cc0066;*/
	box-shadow: 0px 0px 3px 1px #fff;
	color: #cc0066;
	font-weight: 400;
	transition: transform .1s ease-in-out, color .1s ease-in-out, background-color .1s ease-in-out, box-shadow .1s ease-in-out;
}
.winner{
	text-shadow: 0px 0px 1px white;
	transform: scale(1.5);
	transition: text-shadow 0.2s ease-in-out, transform .2s ease-in-out;
}

.resultContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container .row{
	width: 80%;
	margin: 10px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.container .player, .container .pick{
	width: auto;
	margin: auto;
	text-align: center;
	font-size: 18px;
}
#result, .points{
	margin: 15px auto;
	height: 10px;
	font-size: 22px;
}
.points{
	border: 1px solid #fff;
	border-radius: 25%;
	padding: 2px 10px;
	margin: 10px;
}


@media screen and (min-width: 1200px) {
	.header {
		width: 90%;
	}
	.header h1{
		font-size: 2.3em; 
	}
	.header h2{
		font-size: 1.8em; 
	}
	.container {
		width: 90%;
	}
	.header button {
		width: 35%;
		padding: 20px 50px;
		margin: 35px auto;
	}
	.container .far {
		font-size: 3.6em;
	}
	.container .btn {
		padding: 15px 30px;
		margin: 20px auto;
	}
	.container .player, .container .pick{
		font-size: 20px;
	}
	#result{
		font-size: 26px;
		margin: 30px auto; 
	}
	.points{
		padding: 2px 10px;
		margin: 10px;
	}
}

@media screen and (max-width: 768px) {
	.container{
		width: 90%;
	}
	.container .player, .container .pick{
		width: auto;
		font-size: 16px;
	}
	.players span{
		font-size: 14px;
	}
	.header h1, h2{
		margin: 3px auto;

	}
	.header button {
		width: 45%;
	}
	.resultContainer .picks{
		width: 80%;
	}	.resultContainer .picks .pick{
		width: 40%;
	}

}
@media screen and (max-width: 480px) {
	.container, .container .row{
		width: 100%;
		margin: 5% auto;
	}
	.container .far{
		font-size: 2em;
		padding-right: 10px;
	}
	.container .badge{
		padding-top: 5px;
    	margin: 5px;
    	width: 45%;
    	flex-direction: row; 
	}

	#playerPickElement{
		display: flex;
		flex-direction: column;
	}
	.container .player, .container .pick{
		font-size: 14px;
	}
	.players span{
		font-size: 12px;
	}
	.row .player {
		display: flex;
		flex-direction: column;
	}
	#computerPoints{
		order: -1;
	}
	.points {
    height: auto;
    margin: 10px auto;
	}
	.header button {
		width: 40%;
		padding: 10px 15px;
		margin: 15px auto;
	}
	.header h1{
		font-size: 1.5em; 
	}
	.header h2{
		font-size: 1em; 
	}
}












